OPENROUTER_API_KEY=
EXA_API_KEY=
TRIGGER_SECRET_KEY=
AUTH0_SECRET=
AUTH0_BASE_URL=http://localhost:3000
AUTH0_ISSUER_BASE_URL=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
TRIGGER_PROJECT_REF=
APP_URL=http://localhost:3000
# LLM_CHEAP_MODEL=openai/gpt-4o-mini
# LLM_STRONG_MODEL=openai/gpt-4o
